*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  list-style: none;
  color: #000;
  background-color: #f4f2f6;
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  margin: 10px auto;
  padding-top: 30px;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 80%;
  min-height: 100vh;
}

#todo-list-title {
  color: black;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 36px;
}

#input-header {
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  outline: 0;
  border: 0;
  font-size: 16px;
  font-family: initial;
  height: 55px;
  position: relative;
  border-radius: 5px;
}

#input-container:Hover {
  background-color: #f4f2f6;
  outline: 1px solid #00000080;
}

#todo-input {
  text-align: left;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

#todo-input:focus {
  padding-left: 25px;
}

#todo-input::-webkit-input-placeholder {
  color: #999;
  font-weight: 400;
  opacity: .5;
}

#todo-input:-ms-input-placeholder {
  color: #999;
  font-weight: 400;
  opacity: .5;
}

#todo-input::-ms-input-placeholder {
  color: #999;
  font-weight: 400;
  opacity: .5;
}

#todo-input::placeholder {
  color: #999;
  font-weight: 400;
  opacity: .5;
}

.todo-button {
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  color: #999;
  margin: auto;
  border: 0;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 5px 5px 0;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.todo-button i {
  font-size: 28px;
  -webkit-transition: .5s;
  transition: .5s;
}

.todo-button span {
  margin-left: 10px;
  font-size: 17px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.todo-button:hover > i {
  color: #000;
  padding-right: 5px;
}

.todo-button:focus > i {
  color: #000;
  padding-right: 5px;
}

#todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #ffffff10;
  border-right: 1px solid #ffffff10;
  width: 100%;
}

.todolist-item {
  margin: 10px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 80px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fcfbfd;
  position: relative;
  text-align: left;
}

.todolist-item .todo-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-right: 10px;
  border-right: 1px solid #00000030;
}

.todolist-item .todo-control .checkbox.icons {
  padding: 5px;
  cursor: pointer;
  font-size: 32px;
  -webkit-transition: .5s;
  transition: .5s;
}

.todolist-item .todo-control .icons.checkbox.ri-checkbox-blank-line {
  color: #999;
}

.todolist-item .todo-control .icons.checkbox.ri-checkbox-blank-line:hover {
  color: #2ecc71;
  background-color: #2ecc7120;
  border-radius: 5px;
}

.todolist-item .todo-control .icons.checkbox.ri-checkbox-blank-line:active {
  background-color: #2ecc7130;
}

.todolist-item .todo-control .icons.checkbox.ri-checkbox-fill {
  color: #2ecc71;
}

.todolist-item .todo-control .icons.checkbox.ri-checkbox-fill:hover {
  color: #2ecc71;
}

.todolist-item .todo-text {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.todolist-item .todo-text span {
  color: #000;
  font-weight: 500;
  font-size: 13px;
  opacity: 60%;
}

.todolist-item .todo-text p {
  color: #4e4e4e;
  font-weight: 400;
}

.alert {
  top: 2vw;
  right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 16px;
  opacity: 0;
  font-weight: 500;
}

.alert.success {
  color: #257953;
  background-color: #effaf5;
  border: 1px solid #c3e6cb;
}

.alert.danger {
  color: #cc0f35;
  background-color: #feecf0;
  border: 1px solid #fc8181;
}

.alert.warn {
  color: #946c00;
  background-color: #fffaeb;
  border: 1px solid #ffeeba;
}

.completed-todo {
  opacity: 30%;
}

.completed-todo p {
  text-decoration: line-through;
}

.info {
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info p {
  opacity: 70%;
  color: #999;
  font-weight: 400;
}

.info p a {
  color: #438be9;
  font-weight: 500;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
