*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  list-style: none;
  color: #003541;
  background-color: #edf1f4;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

main.app {
  margin: 10px auto;
  padding-top: 50px;
  padding-right: 10vw;
  padding-left: 10vw;
  min-height: 100vh;
  width: 80%;
}

div#main-title {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 1.75rem;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#main-title h1 {
  margin-bottom: 10px;
  color: #323232;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

form#todo-create-form {
  outline: 0;
  border: 0;
  margin-bottom: 50px;
  margin-top: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-family: initial;
  height: 4vw;
  width: 100%;
  position: relative;
}

form#todo-create-form input#todo-input {
  outline: 0;
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  color: #121212;
  background-color: transparent;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-transition: .3s;
  transition: .3s;
}

form#todo-create-form input#todo-input:focus {
  padding-left: 25px;
  outline: 1px solid #00000080;
}

form#todo-create-form input#todo-input::-webkit-input-placeholder {
  opacity: .5;
  color: #999;
  font-weight: 400;
}

form#todo-create-form input#todo-input:-ms-input-placeholder {
  opacity: .5;
  color: #999;
  font-weight: 400;
}

form#todo-create-form input#todo-input::-ms-input-placeholder {
  opacity: .5;
  color: #999;
  font-weight: 400;
}

form#todo-create-form input#todo-input::placeholder {
  opacity: .5;
  color: #999;
  font-weight: 400;
}

form#todo-create-form button#create-todo-button {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  font-size: 1rem;
  color: #999;
  background-color: transparent;
  margin: auto;
  border: 0;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 5px 5px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

form#todo-create-form button#create-todo-button:Focus, form#todo-create-form button#create-todo-button:Hover {
  color: #06f;
}

form#todo-create-form button#create-todo-button i {
  font-size: 1.75rem;
  -webkit-transition: .5s;
  transition: .5s;
}

form#todo-create-form button#create-todo-button span {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}

form#todo-create-form button#create-todo-button:hover > i,
form#todo-create-form button#create-todo-button:focus > i {
  padding-right: 5px;
  color: #212121;
}

div#todo-title {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 1.75rem;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #06f;
}

div#todo-title h2 {
  margin-bottom: 5px;
  color: #323232;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

ul#todo-container {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}

ul#todo-container li.todo-items {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #ffffff;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  text-align: left;
}

ul#todo-container li.todo-items:Hover {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

ul#todo-container li.todo-items.completed p {
  -webkit-text-decoration: line-through #0066ff80 5px;
          text-decoration: line-through #0066ff80 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

ul#todo-container li.todo-items div.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  color: #06f;
  font-size: 32px;
}

ul#todo-container li.todo-items div.checkbox #complete-btn.ri-checkbox-blank-circle-line,
ul#todo-container li.todo-items div.checkbox #complete-btn.ri-checkbox-circle-fill {
  padding: 5px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  color: #06f;
  border-radius: 10px;
}

ul#todo-container li.todo-items div.checkbox #complete-btn.ri-checkbox-blank-circle-line:Hover,
ul#todo-container li.todo-items div.checkbox #complete-btn.ri-checkbox-circle-fill:Hover {
  color: #0066ff80;
  background-color: #99999920;
}

ul#todo-container li.todo-items:hover > div.deletebox > div.delete.button {
  display: block;
}

ul#todo-container li.todo-items div.deletebox {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul#todo-container li.todo-items div.deletebox div.delete.button {
  cursor: pointer;
  padding: 10px;
  display: none;
  color: #999;
}

ul#todo-container li.todo-items div.deletebox div.delete.button:hover {
  color: #e84118;
}

ul#todo-container li.todo-items div.todo {
  width: 100%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul#todo-container li.todo-items div.todo p.todo-name {
  color: #4e4e4e;
  font-weight: 400;
  font-size: 1.1rem;
}

ul#todo-container li.todo-items div.todo span.todo-created-date {
  color: #000;
  font-weight: 400;
  font-size: 0.85rem;
  opacity: 60%;
}

.alert {
  opacity: 0;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  font-size: 1rem;
  font-weight: 500;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
}

.alert.success, .alert.danger, .alert.warn, .alert.info {
  color: #06f;
  background-color: #0066ff20;
}

.info {
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info p {
  opacity: 70%;
  color: #999;
  font-weight: 400;
}

.info p a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info p a:Hover {
  color: #06f;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
