*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
   font-size: 16px;
   list-style: none;
   color: #000;
   background-color: #f4f2f6;
   font-family: 'Rubik', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.app {
   margin: 10px auto;
   padding-top: 30px;
   padding-left: 2vw;
   padding-right: 2vw;
   width: 80%;
   min-height: 100vh;
}
#todo-list-title {
   color: rgb(0, 0, 0);
   margin-bottom: 20px;
   font-weight: 300;
   font-size: 36px;
}
#input-header {
   margin-bottom: 10px;
   width: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 5px;
}
#input-container {
   display: flex;
   color: #fff;
   outline: 0;
   border: 0;
   font-size: 16px;
   font-family: initial;
   height: 55px;
   position: relative;
   border-radius: 5px;
   &:Hover {
      background-color:#f4f2f6;
      outline: 1px solid #00000080;
   }
}
#todo-input {
   text-align: left;
   width: 100%;
   height: 100%;
   padding-right:20px;
   padding-left:20px;
   color: #000;
   background-color: transparent;
   outline: 0;
   border: 0;
   font-size: 16px;
   font-family: 'Rubik', sans-serif;
   border-radius: 5px;
   transition: .3s;
   &:focus {
      padding-left: 25px;
   }
   &::placeholder {
      color: #999;
      font-weight: 400;
      opacity: .5;
   }
}
.todo-button {
   position: absolute;
   right: 0;
   top: 0;
   padding-left: 15px;
   padding-right: 15px;
   cursor: pointer;
   font-size: 18px;
   color: #999;
   margin: auto;
   border: 0;
   outline: 0;
   display: flex;
   height: 100%;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border-radius: 0 5px 5px 0;
   background-color: transparent;
   transition: .3s;
   i {
      font-size: 28px;
      transition: .5s;
   }
   span {
      margin-left: 10px;
      font-size: 17px;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
   }
   &:hover > i {
      color:#000;
      padding-right: 5px;
   }
   &:focus > i {
      color:#000;
      padding-right: 5px;
   }
}
#todo-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-left: 1px solid #ffffff10;
   border-right: 1px solid #ffffff10;
   width: 100%;
}
.todolist-item {
   margin: 10px;
   padding: 20px 20px;
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 80px;
   border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, 0.2);
   background-color: #fcfbfd;
   position: relative;
   text-align: left;
   .todo-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-right: 10px;
      border-right: 1px solid #00000030;
      .checkbox.icons {
         padding: 5px;
         cursor: pointer;
         font-size: 32px;
         transition: .5s;
     }
     .icons.checkbox.ri-checkbox-blank-line {
         color: #999;
         &:hover {
            color: #2ecc71;
            background-color: #2ecc7120;
            border-radius: 5px;
         }
         &:active {
            background-color: #2ecc7130;
         }
     }
     .icons.checkbox.ri-checkbox-fill {
         color: #2ecc71;
         &:hover {
            color: #2ecc71;
         }
     }
   }
   .todo-text {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      span {
         color: #000;
         font-weight: 500;
         font-size: 13px;
         opacity: 60%;
      }
      p {
         color: #4e4e4e;
         font-weight: 400;
      }
   }
}
.alert {
   top: 2vw;
   right: 2vw;
   display: flex;
   position: fixed;
   justify-content: center;
   align-items: center;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-radius: 5px;
   transition: 1s;
   font-size: 16px;
   opacity: 0;
   font-weight: 500;
   &.success {
      color: #257953;
      background-color: #effaf5;
      border: 1px solid #c3e6cb;
   }
   &.danger {
      color: #cc0f35;
      background-color: #feecf0;
      border: 1px solid #fc8181;
   }
   &.warn {
      color: #946c00;
      background-color: #fffaeb;
      border: 1px solid #ffeeba;
   }
}
.completed-todo {
   opacity: 30%;
   p {
      text-decoration: line-through;
   }
}
.info {
   padding: 10px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;

   p {
      opacity: 70%;
      color: #999;
      font-weight: 400;
      a {
         color: #438be9;
         font-weight: 500;
         text-decoration: none;
      }
   }
}
